* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: italic;
    text-align: left;
    cursor: pointer;
}

h1 {
    color:rgb(172, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160px;
    font-weight: bold;
    text-align: center;
    display: block;
}

h2, h3 {
    color:rgb(172, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

h4 {
    color:rgb(172, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

h5 {
    color:rgb(172, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    font-weight: bold;
    text-align: right;
}

#subtitulo {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

ul li {
    color: black;
    list-style: square;
    text-decoration: underline;
}

ol li {
    color: rgb(73, 72, 72);
    font-size: 50px;
    list-style: decimal;
}

Div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: left;
}

.figure {
    text-align: center;
}

.fundas {
    display: inline;
}

.cuaderno {
    display: inline
}


body {
    background-color: #FFF0F5;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: cover;
    background: url("Fondo.jpg");
}

a {
    cursor: alias;
}

